---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Portfolio - Ariel Benesh - Home">
  <div class="min-h-screen bg-background">
    <Navigation />
    <main>
      <Hero />
    </main>
  </div>
</Layout>